@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@layer base {
  :root {
    --radius: 0.5rem;

  }

}

.custom-scrollbar::-webkit-scrollbar {
   width: 0.8em
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.225);
  outline: none;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #00000017;
}